{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h2>Предварительный просмотр данных</h2>
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Описательная статистика</h5>
                </div>
                <div class="card-body">
                    <pre>{{ analysis_results }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}